:root {
    --primary-color: #2b3540;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(32, 39, 41) !important;
}

header {
    background-color: rgb(32, 39, 41) !important;
    z-index: 9999;
    margin: 0;
    padding: 0px 0 15px 0;
}

header h1 {
    font-weight: bold;
    font-size: 45px;
    background-color: rgb(82, 167, 123);
    padding-left: 50px;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin-right: 80px;
}

header nav ul li a {
    padding: 5px;
    font-size: 20px;
    background: linear-gradient(to top, rgb(82, 167, 123) 50%,  rgb(32, 39, 41) 50%);
    background-size: 100% 200%;
    background-position: top left;
    transition: all .2s ease-out;
    border-bottom: 4px solid rgb(82, 167, 123);
    text-decoration: none;
}

header nav ul li a:hover {
    color: rgb(32, 39, 41);
    background-position: bottom left;
}

.about-me-title {
    border-bottom: 1px solid rgb(82, 167, 123);
}

.work-title {
    border-bottom: 1px solid rgb(82, 167, 123);
}

.contact-me-title {
    border-bottom: 1px solid rgb(82, 167, 123);
}

.contact-info a {
    padding-bottom: 3px;
    border-bottom: 3px solid rgb(82, 167, 123);
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.card-img {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

#about p {
    margin-left: 35px;
}

.contact ul li a:hover {
    text-decoration: none !important;
}
