:root {
    --primary-color: #2b3540;
    --secondary-color: #76adc2;
}

header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    z-index: 9999;
    margin: 0;
    padding: 15px 0 15px 0;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    color: var(--secondary-color);
    background: linear-gradient(to top, var(--secondary-color) 50%, var(--primary-color) 50%);
    background-size: 100% 200%;
    transition: all .3s ease-out;
    margin: 5px;
    position: relative;
}

header nav ul li a:hover {
    color: var(--primary-color);
    background-position: bottom left;
}

.hero {
    background-image: url("../images/hero-bg.png");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}