:root {
    --primary-color: #2b3540;
    --secondary-color: #76adc2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    z-index: 9999;
    margin: 0;
    padding: 15px 0 15px 0;
}

header h1 {
    font-weight: bold;
    font-size: 45px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px;
    padding-right: 80px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 5px;
    font-size: 23px;
    color: var(--secondary-color);
    background: linear-gradient(to top, var(--secondary-color) 50%, var(--primary-color) 50%);
    background-size: 100% 200%;
    background-position: top left;
    transition: all .2s ease-out;
    margin: 5px;
    position: relative;
    border-bottom: 4px solid var(--secondary-color);
}

header nav ul li a:hover {
    color: var(--primary-color);
    background-position: bottom left;
}

.hero {
    background-image: url("../images/hero-bg.png");
    background-size: 100%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-start;
}

.page-section {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.page-section h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 17px;
    color: var(--primary-color);
    font-size: 60px;
    border-right: 3px solid var(--primary-color);
    line-height: 1.1;
}